.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-button {
  margin: 0 5px;
  padding: 10px 15px;
  border: none;
  background-color: #555;
  color: rgb(244, 242, 242);
  cursor: pointer;
}

.pagination-button.active {
  background-color: #080808;
}

.pagination-button:hover {
  background-color: #0c0c0c;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
  
  .movie-card {
    background-color: rgb(15, 14, 14);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 15px;
    overflow: hidden;
    width: 200px;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .movie-card:hover {
    transform: scale(1.05);
  }
  
  .movie-image {
    width: 100%;
    border-bottom: 1px solid #060606;
  }
  
  .movie-title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    color: #333;
  }
  
  .movie-rating {
    color: #555;
    margin-bottom: 10px;
  }
  
  .movie-list h1 {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    color: #444;
  }
  